    <!-- Primera fila: Información general -->
    <div class="container mx-auto py-4">
      <div class="grid grid-cols-1 gap-4">
        <h2 class="text-3xl font-bold">Huella de carbono</h2>
        <p>Este panel te ofrece una proyección estimada basada en tu ritmo actual de consumo, permitiéndote anticipar el gasto al finalizar el mes.</p>
      </div>
    </div>
    <!-- Segunda fila: Tarjetas -->
    <div class="container mx-auto py-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
        <app-card-info></app-card-info>
        <app-card-info></app-card-info>
        <app-card-info></app-card-info>
        <app-card-info></app-card-info>
        <app-card-info></app-card-info>
      </div>
    </div>
    <!-- Tercera fila: Cards detalladas -->
    <section class="flex-1 text-gray-600 body-font">
      <div class="container px-6 py-16 mx-auto">
        <div class="grid grid-cols-4 gap-4">
          <!-- Card 1 -->
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Chichen Itza</h2>
            <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
          </div>

          <!-- Card 2 -->
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/721x401" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Colosseum Roma</h2>
            <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
          </div>

          <!-- Card 3 -->
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/722x402" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Great Pyramid of Giza</h2>
            <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
          </div>

          <!-- Card 4 -->
          <div class="bg-gray-100 p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/723x403" alt="content">
            <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
            <h2 class="text-lg text-gray-900 font-medium title-font mb-4">San Francisco</h2>
            <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon disrupt edison bulbche.</p>
          </div>

          <!-- Añade más cards aquí según sea necesario -->
        </div>
      </div>
    </section>

