<div class="bg-white p-6 rounded shadow">
  <h2 class="text-2xl mb-4 font-bold leading-tight text-gray-900">Reportes Históricos</h2>
  <hr class="my-4">

  <!-- Filtro de fechas -->
  <div class="mb-6">
    <label class="block text-gray-700">Filtrar por Fecha</label>
    <div class="flex space-x-4">
      <input [(ngModel)]="startDate" type="date" class="border border-gray-300 p-2 rounded">
      <input [(ngModel)]="endDate" type="date" class="border border-gray-300 p-2 rounded">
      <button (click)="filterByDate()" class="bg-primary text-white p-2 rounded hover:bg-primaryhover">Filtrar</button>
    </div>
  </div>

  <!-- Tabla de consumos -->
  <table class="min-w-full table-auto">
    <thead class="bg-gray-100">
      <tr>
        <th class="px-4 py-2">Día</th>
        <th class="px-4 py-2">Consumo</th>
        <th class="px-4 py-2">Total</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let consumo of filteredData">
        <td class="border px-4 py-2">{{ consumo.dia }}</td>
        <td class="border px-4 py-2">{{ consumo.consumo }} kWh</td>
        <td class="border px-4 py-2">{{ consumo.total | currency:'ARS' }}</td>
      </tr>

    </tbody>
  </table>
</div>
