<div class="card bg-base-100 shadow-xl p-4 transform transition-transform hover:scale-105">

  <div class="flex items-center mb-2">
    <div class="flex items-center justify-center h-10 w-10 rounded-lg bg-gray-100">
      <i [ngClass]="iconClasses" class="text-2xl"></i>
    </div>
    <div class="ml-3">
      <h2 class="card-title text-lg font-semibold">{{ titleCard }}</h2>
      <p class="text-xs text-gray-500">{{ subtitleCard }}</p>
    </div>
  </div>

  <div class="mt-2">
    <h2 class="text-2xl font-bold">
      <div [ngSwitch]="tipoDato">
        <h2 *ngSwitchCase="'humidity'" class="text-2xl font-bold">{{ humidity }}</h2>

        <h2 *ngSwitchCase="'temperature'" class="text-2xl font-bold">{{ temperature }}</h2>

        <h2 *ngSwitchCase="'horaActual'" class="text-2xl font-bold">{{ currenTime }}</h2>

        <h2 *ngSwitchCase="'energy'" class="text-2xl font-bold">{{ totalEnergy.toFixed(2) }} kWh</h2>

        <h2 *ngSwitchDefault class="text-2xl font-bold">No hay datos disponibles</h2>
      </div>

    </h2>

  </div>
</div>
