target/
.idea/
mvnw
mvnw.cmd
*.iml
.DS_Store
ci_cd.yml
frontend/.angular
frontend/node_modules
node_modules/
server/target

# Ignorar toda la carpeta mosquitto excepto config
mosquitto/
!mosquitto/config/
mosquitto/log/
mosquitto/data/

# Ignorar archivos específicos en la raíz de mosquitto
mosquitto.log
mosquitto.db