target/
.idea/
mvnw
mvnw.cmd
*.iml
.DS_Store
ci_cd.yml
frontend/.angular
frontend/node_modules
node_modules/
server/target
./mosquitto/*
mosquitto
env
.env
mosquitto.log
mosquitto.db
mosquitto/log/mosquitto.log
mosquitto/data/mosquitto.db
