# Servir el frontend en https://localhost
localhost {
    tls internal
    encode gzip

    reverse_proxy angular-app:4200

    header {
        Strict-Transport-Security "max-age=31536000;"
    }
}

# Servir el backend en https://localhost:8443
localhost:8443 {
    tls internal
    encode gzip

    reverse_proxy spring-boot-app:8080

    header {
        Strict-Transport-Security "max-age=31536000;"
    }
}
