lytics.dyndns.org {
    encode gzip

    # Matcher
    @api {
        path_regexp api ^/(auth|configurations|ws|alert|user|address|measurements|devices|devices/register-device|devices/pair-device)(/.*)?$
    }

    reverse_proxy @api spring-boot-app:8080

    reverse_proxy /* angular-app:4200

    header {
        Strict-Transport-Security "max-age=31536000;"
    }
}
