<div class="flex justify-between space-x-4 w-full">
  <div
    (click)="setSelectedType('Consumo')"
    class="bg-white p-4 rounded-lg shadow-lg flex items-center space-x-2 w-1/4 cursor-pointer"
    [ngClass]="{'bg-blue-200': selectedType === 'Consumo'}">
    <div class="flex items-center justify-center h-12 w-12 bg-blue-100 rounded-full">

    </div>
    <p class="text-xs">Consumo</p>
  </div>

  <div
    (click)="setSelectedType('Amperaje')"
    class="bg-white p-4 rounded-lg shadow-lg flex items-center space-x-2 w-1/4 cursor-pointer"
    [ngClass]="{'bg-blue-200': selectedType === 'Amperaje'}">
    <div class="flex items-center justify-center h-12 w-12 bg-blue-100 rounded-full">

    </div>
    <p class="text-xs">Amperaje</p>
  </div>

  <div
    (click)="setSelectedType('Potencia')"
    class="bg-white p-4 rounded-lg shadow-lg flex items-center space-x-2 w-1/4 cursor-pointer"
    [ngClass]="{'bg-blue-200': selectedType === 'Potencia'}">
    <div class="flex items-center justify-center h-12 w-12 bg-blue-100 rounded-full">

    </div>
    <p class="text-xs">Potencia</p>
  </div>

  <div
    (click)="setSelectedType('Frecuencia')"
    class="bg-white p-4 rounded-lg shadow-lg flex items-center space-x-2 w-1/4 cursor-pointer"
    [ngClass]="{'bg-blue-200': selectedType === 'Frecuencia'}">
    <div class="flex items-center justify-center h-12 w-12 bg-blue-100 rounded-full">

    </div>
    <p class="text-xs">Frecuencia</p>
  </div>
</div>

<div class="flex items-start justify-between py-6 px-10">
  <div class="flex w-full">
    <div>
      <h2 class="text-xl font-bold mb-2">Selecciona el rango de fechas</h2>

      <p class="mb-4 text-gray-600">
        Por favor, selecciona un tipo de gráfico y un rango de fechas antes de hacer clic en "Buscar".
      </p>


      <div class="mb-6">
        <label class="block text-gray-700">Filtrar por Fecha</label>
        <div class="flex space-x-4">
          <input [(ngModel)]="startDate" type="date" class="border border-gray-300 p-2 rounded" [disabled]="!selectedType">
          <input [(ngModel)]="endDate" type="date" class="border border-gray-300 p-2 rounded" [disabled]="!selectedType">
          <button
            (click)="generateGraficoUrl()"
            class="bg-primary text-white p-2 rounded hover:bg-primaryhover"
            >Buscar</button>
        </div>
      </div>

      <p *ngIf="errorMessage" class="text-red-500 mb-4">{{ errorMessage }}</p>

      <div class="w-3/4 p-2">
        <h2 class="text-xl font-bold mb-2">Gráfico: {{ selectedType }}</h2>
        <div class="border rounded-lg h-64 flex items-center justify-center">
          <iframe
            *ngIf="graficoUrl"
            [src]="graficoUrl"
            width="600"
            height="400"
            frameborder="0">
          </iframe>
          <p *ngIf="!graficoUrl">Selecciona un tipo de gráfico y un rango de fechas para visualizarlo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
