<app-panel-title title="Consumo" description="Este es el consumo que registramos de tus dispositivos."></app-panel-title>

<div class="px-3">
  <div class="flex flex-col space-y-4">
    <div class="stat shadow-lg w-full bg-white" *ngFor="let device of devices">
      <div class="flex items-center">
        <!-- Icono del dispositivo -->
        <div class="stat-figure text-primary mr-4">
          <img [src]="'../../../assets/icon/' + device.name + '.png'" alt="{{ device.name }}" width="32" height="32">
        </div>

        <!-- Nombre del dispositivo -->
        <div class="stat-title text-lg font-semibold">{{ device.name }}</div>
      </div>

      <!-- Información de consumo -->
      <div class="stat-desc grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 mt-4">

        <div class="stat-item">
          <h4 class="text-sm font-semibold">Último Día</h4>
          <p class="text-base">{{ device.lastDayConsumption }} $ AR</p>
        </div>

        <div class="stat-item">
          <h4 class="text-sm font-semibold">Mes Actual</h4>
          <p class="text-base">{{ device.currentMonthConsumption }} $ AR</p>
        </div>

        <div class="stat-item">
          <h4 class="text-sm font-semibold">Mes Anterior</h4>
          <p class="text-base">{{ device.previousMonthConsumption }} $ AR</p>
        </div>

        <div class="stat-item">
          <h4 class="text-sm font-semibold">Proyección Mes Actual</h4>
          <p class="text-base">{{ device.projectedCurrentMonthConsumption }} $ AR</p>
        </div>
      </div>
    </div>
  </div>
</div>
