.alerta-historica {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.alerta-historica:hover {
  background-color: #ffe4e1; /* Rosa pálido */
}
