 <!-- Sidebar / Sidenav -->
 <aside class="w-64 bg-base-100 h-full shadow-md flex flex-col justify-between">
  <!-- Contenedor superior -->
  <div >
    <div class="p-4">
      <!-- Logo de la marca -->
      <img src="../../../assets/img/IsoTipoLyticsGrilla.png" alt="Logo de la marca" class="w-45 h-auto mx-auto">
    </div>
    <div class="my-auto">
      <ul class="menu menu-sm bg-base-100 rounded-box z-[1] p-2">
        <li class="p-1"><a [routerLink]="['dashboard']" class="block p-2 rounded hover:bg-gray-300 transition">Dashboard</a></li>
        <li class="p-1"><a [routerLink]="['huella']" class="block p-2 rounded hover:bg-gray-300 transition">Huella de carbono</a></li>
        <li class="p-1"><a [routerLink]="['dispositivos']" class="block p-2 rounded hover:bg-gray-300 transition">Mis Dispositivos</a></li>
        <li class="p-1"><a [routerLink]="['historico']" class="block p-2 rounded hover:bg-gray-300 transition">Históricos</a></li>
        <li class="p-1"><a [routerLink]="['reportes']" class="block p-2 rounded hover:bg-gray-300 transition">Reportes</a></li>
        <li class="p-1"><a [routerLink]="['alertas']" class="block p-2 rounded hover:bg-gray-300 transition">Alertas</a></li>
        <li class="p-1"><a [routerLink]="['guides']" class="block p-2 rounded hover:bg-gray-300 transition">Guias y tutoriales</a></li>
      </ul>
    </div>

  </div>

  <!-- Contenedor inferior -->
  <div>
    <ul class="menu menu-sm  rounded-box z-[1] p-2 shadow">
      <li class="p-1"><a href="" class="block p-2 rounded hover:bg-gray-300 transition">Mi suscripción</a></li>
      <li class="p-1"><a [routerLink]="['configuracion']" class="block p-2 rounded hover:bg-gray-300 transition">Configuraciones</a></li>
      <li class="p-1"><a href="" class="block p-2 rounded hover:bg-gray-300 transition">Desloguearse</a></li>
    </ul>
  </div>
</aside>
