
<div class="grid grid-cols-1 gap-4 mb-4 bg-white px-10 py-4">
  <h2 class="text-2xl font-bold">Selecciona el Perfil de tu casa</h2>
  <p class="text-pretty">Selecciona el perfil que mejor describe tu hogar para obtener una configuración de consumo de energía personalizada.</p>
</div>


<div class="container mx-auto py-4 px-10">
  <h1 class="text-xl font-semibold mb-4">Perfiles sugeridos</h1><br>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">


    <div class="card bg-base-100 shadow-xl p-6 transform transition-transform hover:scale-105"
      [ngClass]="{'bg-blue-200': selectedProfile === 'small'}"
      (click)="selectProfile('small')">
      <img src="./assets/img/casapequenia.png" alt="Imagen de apartamento pequeño" class="w-full h-40 object-cover mb-4 rounded-lg">
      <div>
        <h2 class="card-title">Apartamento pequeño</h2><br>
        <p>Descripción: Este perfil está diseñado para personas que viven en apartamentos de uno o dos ambientes.
          Generalmente para solteros o parejas sin hijos.</p>
        <p>Tamaño: 30-60 m².</p>
        <p>Electrodomésticos típicos:</p>
        <ul class="list-disc ml-6">
          <li>1 Aire acondicionado (uso moderado).</li>
          <li>1 Heladera pequeña.</li>
          <li>1 Microondas.</li>
          <li>1 TV.</li>
          <li>Iluminación de bajo consumo en cada ambiente.</li>
          <li>Lavadora compacta (si tiene espacio).</li>
        </ul>
        <p>Consumo estimado: Bajo, ideal para pequeños espacios con un uso moderado de electrodomésticos.</p>
      </div>
    </div>


      <div class="card bg-base-100 shadow-xl p-6 transform transition-transform hover:scale-105"
      [ngClass]="{'bg-blue-200': selectedProfile === 'medium'}"
      (click)="selectProfile('medium')">
        <img src="./assets/img/casamediana.png" alt="Imagen de casa mediana" class="w-full h-40 object-cover mb-4 rounded-lg">
        <div class="ml-4">
          <h2 class="card-title">Casa Mediana</h2><br>
          <p>Descripción: Hogares típicos de familias pequeñas o medianas, con varios ambientes y una cantidad moderada
            de electrodomésticos. Apropiado para una familia con 1 o 2 hijos.</p>
          <p>Tamaño: 80-150 m².</p>
          <p>Electrodomésticos típicos:</p>
          <ul class="list-disc ml-6">
            <li>2 Aires acondicionados (en el salón y dormitorio principal). </li>
            <li>1 Heladera de tamaño estándar.</li>
            <li>1 Microondas y horno eléctrico.</li>
            <li>2 TV (salón y dormitorio).</li>
            <li>1 Computadora o laptop.</li>
            <li>1 Lavadora.</li>
            <li>1 Calefactor eléctrico o estufa.</li>
            <li>Varios cargadores y pequeños electrodomésticos.</li>
          </ul>
          <p>Consumo estimado: Moderado, ya que se usan varios electrodomésticos y el aire acondicionado puede estar encendido por más tiempo.</p>
        </div>
      </div>


      <div class="card bg-base-100 shadow-xl p-6 transform transition-transform hover:scale-105"
      [ngClass]="{'bg-blue-200': selectedProfile === 'large'}"
      (click)="selectProfile('large')">
        <img src="./assets/img/casagrande.png" alt="Imagen de casa grande" class="w-full h-40 object-cover mb-4 rounded-lg">
        <div class="ml-4">
          <h2 class="card-title">Casa Grande con Jardín</h2><br>
          <p>Descripción: Viviendas más grandes, con varios ambientes y jardines, que suelen requerir un mayor consumo
            energético. Hogares familiares con varios hijos o personas con un estilo de vida más activo.</p>
          <p>Tamaño: 150-250 m².</p>
          <p>Electrodomésticos típicos:</p>
          <ul class="list-disc ml-6">
            <li>3-4 Aires acondicionados (salón, habitaciones, y quizás un área de trabajo). </li>
            <li>1 Heladera de gran capacidad.</li>
            <li>1 Freezer separado.</li>
            <li>Microondas, horno eléctrico, lavavajillas.</li>
            <li>3 TV (salón y habitaciones).</li>
            <li>2 Computadoras o laptops.</li>
            <li>1 Lavadora y secadora.</li>
            <li>Equipos de jardín eléctricos (cortadora de césped, etc.).</li>
            <li>Calefacción eléctrica o sistema de calefacción central. </li>
          </ul>
          <p>Consumo estimado: Alto, especialmente por la cantidad de electrodomésticos y el uso de aires acondicionados, calefacción y herramientas de jardín.</p>
        </div>
      </div>


      <div class="card bg-base-100 shadow-xl p-6 transform transition-transform hover:scale-105"
      [ngClass]="{'bg-blue-200': selectedProfile === 'personalized'}"
      (click)="selectProfile('personalized')">
        <img src="./assets/img/personalizado.png" alt="Imagen de apartamento pequeño" class="w-full h-40 object-cover mb-4 rounded-lg">
        <div class="ml-4">
          <h2 class="card-title">Personalizado</h2><br>
          <p>Descripción: Este perfil es ideal para hogares que no encajan en las categorías anteriores. El usuario
            puede ajustar manualmente el consumo según la cantidad de electrodomésticos y habitaciones.</p>
          <p>Configuración: Permite elegir cuántos ambientes tiene el hogar y cuántos electrodomésticos hay en cada uno, lo que brinda flexibilidad.</p>
          <p>Electrodomésticos típicos: Varía según el usuario.</p>
        </div>
      </div>

  </div>
</div>


