/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

@tailwind base;
@tailwind components;
@tailwind utilities;



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* intro js */
.introjs-tooltip {
  @apply bg-white text-black p-4 rounded-lg shadow-md; /* Fondo blanco y texto negro */
}

.introjs-tooltiptext {
  @apply text-base text-black; /* Texto negro */
}

.introjs-tooltipbuttons {
  @apply flex justify-between mt-4; /* Mantén la estructura flex de los botones */
}

.introjs-button {
  @apply bg-gray-200 text-black py-2 px-4 rounded-md hover:bg-gray-300 transition-all; /* Botón "Next" en estilo gris */
}

.introjs-button-back {
  @apply bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition-all; /* Botón "Back" estilo azul */
}

.introjs-helperLayer {
  background-color: rgba(0, 123, 255, 0.4); /* No necesita cambios */
}



