<app-panel-title title="Mis Suscripciones" description="Administra y revisa tus planes de suscripción aquí."></app-panel-title>

<div class="max-w-sm mx-auto mt-10 p-6 bg-white shadow-lg rounded-lg">
  <div class="flex items-center justify-between">
    <div>
      <h2 class="text-xl font-bold">{{ user.username }}</h2>
      <p class="text-sm text-gray-500">{{ user.email }}</p>
    </div>
    <button (click)="openModal()" class="btn bg-primary text-white hover:bg-primaryhover">Editar</button>
  </div>
</div>

<!-- Modal para editar los datos -->
<input type="checkbox" id="edit-modal" class="modal-toggle" [(ngModel)]="isModalOpen" />
<div class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Editar Usuario</h3>
    <form > <!--(ngSubmit)="submitForm()"-->
      <div class="form-control my-4">
        <label class="label">
          <span class="label-text">Nombre</span>
        </label>
        <input [(ngModel)]="user.username" name="username" type="text" class="input input-bordered" />
      </div>
      <div class="form-control my-4">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input [(ngModel)]="user.email" name="email" type="email" class="input input-bordered" />
      </div>
      <div class="modal-action">
        <button type="submit" class="btn bg-primary text-white hover:bg-primaryhover">Guardar</button>
        <label for="edit-modal" class="btn">Cerrar</label>
      </div>
    </form>
  </div>
</div>

<div class="content-wrapper py-4 px-3">
  <div class="content-inner rounded shadow-lg px-3 mb-6">
    <h2 class="text-2xl font-bold mb-4">Tus Planes Actuales</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">

      <!-- Plan Basico -->
      <div class="card card-compact bg-base-100 shadow-xl text-center">
        <div class="card-body">
          <h2 class="card-title text-lg font-bold">Plan Básico  </h2>
          <p class="text-xl font-bold">$ 10.000 mensuales</p>
          <p class="py-2"><strong>Detalles del Plan Básico:</strong></p>
          <div class="flex justify-center pb-6">
            <ul class="list-disc pl-6">
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Ubicación
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Tiempo Real
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Huella de Carbono
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-red-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
                Notificaciones
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-red-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
                Informes
              </li>
            </ul>
          </div>
          <div class="card-actions justify-center">
            <label for="modal-plan-personal" class="btn bg-primary text-white hover:bg-primaryhover">Abonar</label>
          </div>
        </div>
      </div>

      <!-- Modal Plan Basico -->
      <input type="checkbox" id="modal-plan-personal" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box">
          <h3 class="font-bold text-lg">Plan Básico</h3>


          <!-- Sección de Configuración -->
          <div class="py-4">
            <h4 class="font-bold mb-2">Abono</h4>
            <label class="block">
              <span class="text-gray-700">Modo de Pago</span>
              <select class="form-select mt-1 block w-full">
                <option>Anual</option>
                <option>Mensual</option>
              </select>
            </label>
            <label class="block mt-3">
              <input type="checkbox" class="form-checkbox" />
              <span class="ml-2">Recibir notificaciones por email</span>
            </label>
          </div>

          <!-- Botón de pago para el Plan Basico -->
          <div class="modal-action">
            <button id="pay-button-plan-personal" class="btn bg-primary text-white hover:bg-primaryhover">Pagar</button>
            <label for="modal-plan-personal" class="btn bg-primary text-white hover:bg-primaryhover">Cerrar</label>
          </div>
        </div>
      </div>

      <!-- Plan Estandar -->
      <div class="card card-compact bg-base-100 shadow-xl text-center">
        <div class="card-body">
          <h3 class="card-title text-lg font-bold">Plan Estándar</h3>
          <p class="text-xl font-bold">$15.000 mensuales</p>
          <p><strong>Detalle del Plan Estándar:</strong></p>
          <div class="flex justify-center pb-6">
            <ul class="list-disc pl-6">
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Ubicación
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Tiempo Real
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Huella de Carbono
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Notificaciones
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-red-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
                Informes
              </li>
            </ul>
          </div>
          <div class="card-actions justify-center">
            <label for="modal-plan-empresarial" class="btn bg-primary text-white hover:bg-primaryhover">Abonar</label>
          </div>
        </div>
      </div>

      <!-- Modal Plan Estandar -->
      <input type="checkbox" id="modal-plan-empresarial" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box">
          <h3 class="font-bold text-lg">Plan Estándar</h3>

          <!-- Sección de Configuración -->
        <div class="py-4">
          <h4 class="font-bold mb-2">Abono</h4>
          <label class="block">
            <span class="text-gray-700">Modo de Pago</span>
            <select class="form-select mt-1 block w-full">
              <option>Anual</option>
              <option>Mensual</option>
            </select>
          </label>
          <label class="block mt-3">
            <input type="checkbox" class="form-checkbox" />
            <span class="ml-2">Recibir notificaciones por email</span>
          </label>
        </div>

          <!-- Botón de pago para el Plan Estandar -->
          <div class="modal-action">
            <button id="pay-button-plan-empresarial" class="btn bg-primary text-white hover:bg-primaryhover">Pagar</button>
            <label for="modal-plan-empresarial" class="btn bg-primary text-white hover:bg-primaryhover">Cerrar</label>
          </div>
        </div>
      </div>

      <!-- Plan Empresa -->
      <div class="card card-compact bg-base-100 shadow-xl text-center">
        <div class="card-body">
          <h3 class="card-title text-lg font-bold">Plan Empresa</h3>
          <p class="text-xl font-bold">$25.000 mensuales</p>
          <p class="py-2"><strong>Detalles del Plan Empresa:</strong></p>
          <div class="flex justify-center pb-6">
            <ul class="list-disc pl-6">
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Ubicación
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Tiempo Real
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Huella de Carbono
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Notificaciones
              </li>
              <li class="flex items-center">
                <svg class="w-6 h-6 text-green-500 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                </svg>
                Informes
              </li>
            </ul>
          </div>
          <div class="card-actions justify-center">
            <label for="modal-plan-profesional" class="btn bg-primary text-white hover:bg-primaryhover">Abonar</label>
          </div>
        </div>
      </div>

      <!-- Modal Plan Empresa -->
      <input type="checkbox" id="modal-plan-profesional" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box">
          <h3 class="font-bold text-lg">Plan Empresa</h3>

          <!-- Sección de Configuración -->
          <div class="py-4">
            <h4 class="font-bold mb-2">Abono</h4>
            <label class="block">
              <span class="text-gray-700">Modo de Pago</span>
              <select class="form-select mt-1 block w-full">
                <option>Anual</option>
                <option>Mensual</option>
              </select>
            </label>
            <label class="block mt-3">
              <input type="checkbox" class="form-checkbox" />
              <span class="ml-2">Recibir notificaciones por email</span>
            </label>
          </div>

          <!-- Botón de pago para el Plan Empresa -->
          <div class="modal-action">
            <button id="pay-button-plan-profesional" class="btn bg-primary text-white hover:bg-primaryhover">Pagar</button>
            <label for="modal-plan-profesional" class="btn bg-primary text-white hover:bg-primaryhover">Cerrar</label>
          </div>
        </div>
      </div>

      <!-- Modal de Pago Exitoso (común para todos los planes) -->
      <input type="checkbox" id="modal-pago-exitoso" class="modal-toggle" />
      <div class="modal">
        <div class="modal-box">
          <h3 class="font-bold text-lg">¡Pago Exitoso!</h3>
          <p class="py-4">Tu transacción ha sido completada exitosamente. Gracias por elegir Lytics.</p>
          <div class="modal-action">
            <label for="modal-pago-exitoso" class="btn bg-green-600 text-white">Aceptar</label>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
