<body class="bg-gray-50">
<div class="flex h-screen">
  <div>
    <app-sidebar></app-sidebar>
  </div>

  <section class="flex-1 text-gray-600 body-font">
    <div class="container px-6 py-16 mx-auto">
<app-navbar></app-navbar>

      <div class="flex flex-col space-y-6">
        <div class="h-1 bg-gray-200 rounded overflow-hidden">
          <div class="w-24 h-full bg-primary"></div>
        </div>
        <div class="flex flex-col lg:flex-row items-start justify-between py-6 mb-12 border border-gray-300 p-6 rounded-lg">
          <h1 class="lg:w-1/3 text-gray-900 font-bold text-4xl">Dashboard Energético</h1>
          <p class="lg:w-2/3 text-lg leading-relaxed text-gray-700">Monitorea en tiempo real el voltaje, amperaje y consumo de energía de tus dispositivos conectados.</p>
        </div>
      </div>

      <div class="flex flex-wrap -mx-4">

       <div class="p-4 lg:w-1/3">
          <div class="w-24 h-24 mx-auto">
            <img src="https://static.vecteezy.com/system/resources/previews/004/999/443/non_2x/high-voltage-icon-shock-warning-symbol-free-vector.jpg" alt="Voltaje" class="object-cover object-center rounded-md shadow-lg">
          </div>
          <h2 class="text-2xl font-bold text-gray-900 mt-6 text-center">Voltaje</h2>
          <p class="text-base leading-relaxed mt-3 text-center">Monitoreo de voltaje en tiempo real para prevenir sobrecargas.</p>
          <a class="text-primary inline-flex items-center mt-3 text-center">Ver Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>


        <div class="p-4 lg:w-1/3">
          <div class="w-24 h-24 mx-auto">
            <img src="https://img.freepik.com/vector-premium/medidor-vectorial-flecha-salpicadero-indicadores-rojos-amarillos-verdes-medidor-tacometro-medio-alto_81863-5150.jpg" alt="Amperaje" class="object-cover object-center rounded-md shadow-lg">
          </div>
          <h2 class="text-2xl font-bold text-gray-900 mt-6 text-center">Amperaje</h2>
          <p class="text-base leading-relaxed mt-3 text-center">Mide el amperaje de los dispositivos conectados.</p>
          <a class="text-primary inline-flex items-center mt-3 text-center">Ver Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>


        <div class="p-4 lg:w-1/3">
          <div class="w-24 h-24 mx-auto">
            <img src="https://www.argentina.gob.ar/sites/default/files/etiqueta-01.png" alt="Consumo de Energía" class="object-cover object-center rounded-md shadow-lg">
          </div>
          <h2 class="text-2xl font-bold text-gray-900 mt-6 text-center">Consumo de Energía</h2>
          <p class="text-base leading-relaxed mt-3 text-center">Analiza el consumo energético de tus dispositivos.</p>
          <a class="text-primary inline-flex items-center mt-3 text-center">Ver Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>


      <div class="flex flex-col space-y-6 mt-12 border border-gray-300 p-6 rounded-lg">
        <h1 class="text-gray-900 font-bold text-4xl">Dashboard de Temperatura</h1>
      </div>

      <div class="flex flex-wrap -mx-4">

        <div class="p-4 lg:w-1/3">
          <div class="w-24 h-24 mx-auto">
            <img src="https://www.shutterstock.com/image-vector/house-temperature-icon-flat-control-260nw-1220414815.jpg" alt="Temperatura Exterior" class="object-cover object-center rounded-md shadow-lg">
          </div>
          <h2 class="text-2xl font-bold text-gray-900 mt-6 text-center">Temperatura Exterior</h2>
          <p class="text-base leading-relaxed mt-3 text-center">Monitorea la temperatura exterior para ajustarte a las condiciones climáticas.</p>
          <a class="text-primary inline-flex items-center mt-3 text-center">Ver Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>

        <div class="p-4 lg:w-1/3">
          <div class="w-24 h-24 mx-auto">
            <img src="https://static.vecteezy.com/ti/vetor-gratis/p1/7816288-home-termometro-controle-de-temperatura-em-casa-icone-gratis-vetor.jpg" alt="Temperatura Interior" class="object-cover object-center rounded-md shadow-lg">
          </div>
          <h2 class="text-2xl font-bold text-gray-900 mt-6 text-center">Temperatura Interior</h2>
          <p class="text-base leading-relaxed mt-3 text-center">Controla la temperatura dentro de tu hogar para ahorrar energía.</p>
          <a class="text-primary inline-flex items-center mt-3 text-center">Ver Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>


        <div class="p-4 lg:w-1/3">
          <div class="w-24 h-24 mx-auto">
            <img src="https://www.shutterstock.com/image-vector/home-air-humidity-icon-indoor-260nw-2022725876.jpg" alt="Humedad" class="object-cover object-center rounded-md shadow-lg">
          </div>
          <h2 class="text-2xl font-bold text-gray-900 mt-6 text-center">Humedad</h2>
          <p class="text-base leading-relaxed mt-3 text-center">Monitorea los niveles de humedad para un ambiente saludable.</p>
          <a class="text-primary inline-flex items-center mt-3 text-center">Ver Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>


      <div class="flex flex-col space-y-6 mt-12 border border-gray-300 p-6 rounded-lg">
        <h1 class="text-gray-900 font-bold text-4xl">Mejores Prácticas para el Hogar</h1>
      </div>

      <div class="flex flex-wrap -mx-4">
        <!-- First card (Apagar Luces) -->
        <div class="p-4 lg:w-1/3">
          <div class="w-24 h-24 mx-auto">
            <img src="https://i.pinimg.com/236x/8a/41/58/8a4158855511c260547f2035338f609d.jpg" alt="Apagar Luces" class="object-cover object-center rounded-md shadow-lg">
          </div>
          <h2 class="text-2xl font-bold text-gray-900 mt-6 text-center">Apagar Luces</h2>
          <p class="text-base leading-relaxed mt-3 text-center">Ahorra energía apagando las luces cuando no las necesites.</p>
          <a class="text-primary inline-flex items-center mt-3 text-center">Ver Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>


        <div class="p-4 lg:w-1/3">
          <div class="w-24 h-24 mx-auto">
            <img src="https://cdn-icons-png.freepik.com/512/5955/5955100.png" alt="Aislamiento" class="object-cover object-center rounded-md shadow-lg">
          </div>
          <h2 class="text-2xl font-bold text-gray-900 mt-6 text-center">Aislamiento</h2>
          <p class="text-base leading-relaxed mt-3 text-center">Mejora el aislamiento de tu hogar para reducir el consumo energético.</p>
          <a class="text-primary inline-flex items-center mt-3 text-center">Ver Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>

        <div class="p-4 lg:w-1/3">
          <div class="w-24 h-24 mx-auto">
            <img src="https://www.shutterstock.com/image-vector/minimal-black-thin-line-socket-260nw-2022923558.jpg" alt="Uso de Electrodomésticos" class="object-cover object-center rounded-md shadow-lg">
          </div>
          <h2 class="text-2xl font-bold text-gray-900 mt-6 text-center">Uso de Electrodomésticos</h2>
          <p class="text-base leading-relaxed mt-3 text-center">Utiliza electrodomésticos eficientes para ahorrar energía.</p>
          <a class="text-primary inline-flex items-center mt-3 text-center">Ver Más
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>


    </div>
  </section>
</div>
</body>
