<div class="container mx-auto py-1">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-6 px-3">
    <app-card-info id="step1"
      [iconClasses]="'fas fa-clock'"
      [titleCard]="'Buenos Aires'"
      [dataCardProgress]="'19:50 Hs'"
      [subtitleCard]="'San Justo'"
      [valueProgress]="1"
      [maxProgress]="100"
      [colorProgress]="''"
    ></app-card-info>
    <app-card-real-time id="step2"
      [iconClasses]="'fas fa-cloud-rain'"
      [titleCard]="'Humedad'"
      [subtitleCard]="'Relativa'"
      [maxProgress]="100"
      [colorProgress]="'progress progress-info w-ful'"
    ></app-card-real-time>
    <app-card-real-time id="step3"
      [iconClasses]="'fas fa-thermometer-half'"
      [titleCard]="'Temperatura'"
      [subtitleCard]="'Grados Celsius'"
      [valueProgress]="10"
      [maxProgress]="100"
      [colorProgress]="'progress progress-error w-ful'"
    ></app-card-real-time>
    <app-card-info id="step4"
      [iconClasses]="'fas fa-dollar-sign'"
      [titleCard]="'Consumo Real'"
      [dataCardProgress]="'Consumo $'"
      [subtitleCard]="'Consumo $'"
      [valueProgress]="25000"
      [maxProgress]="30000"
      [colorProgress]="'progress progress-warning w-ful'"
    ></app-card-info>


  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 py-6 px-3 " id="step5">
  <!-- Consumo (Voltaje) -->
  <div [ngClass]="{'h-screen w-screen fixed top-0 left-0 z-50': isExpanded1, 'relative': !isExpanded1 }" class="bg-white p-6 rounded-lg shadow-md" id="step6">
    <div class="flex justify-between items-center">
      <div>
        <h2 class="text-2xl font-bold">210 Voltaje</h2>
        <p class="text-gray-500">El voltaje estándar es de 220 V y la frecuencia de la corriente alterna es de 50 Hz</p>
      </div>
      <button (click)="toggleExpand(1)" class="text-gray-500 hover:text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
    </div>
    <!-- Iframe -->
    <div class="mt-4">
      <iframe src="http://localhost:3000/d-solo/ee09ykb533ncwf/voltage?orgId=1&panelId=1&var-deviceId=08:A6:F7:24:71:98&refresh=5s"
              width="100%"
              height="300"
              frameborder="0"></iframe>
    </div>
  </div>

  <div [ngClass]="{'h-screen w-screen fixed top-0 left-0 z-50': isExpanded2, 'relative': !isExpanded2 }" class="bg-white p-6 rounded-lg shadow-md" id="step7">
    <div class="flex justify-between items-center">
      <div>
        <h2 class="text-2xl font-bold">8.33 Amperaje</h2>
        <p class="text-gray-500">El amperaje es cuanta electricidad esta fluyendo por el sistema. </p>
      </div>
      <button (click)="toggleExpand(2)" class="text-gray-500 hover:text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>

    </div>
    <div class="mt-4">
      <iframe src="http://localhost:3000/d-solo/de09ym86tk2rkf/current?orgId=1&panelId=1&var-deviceId=08:A6:F7:24:71:98&refresh=5s"
              width="100%"
              height="300"
              frameborder="0"></iframe>
    </div>
  </div>

  <div [ngClass]="{'h-screen w-screen fixed top-0 left-0 z-50': isExpanded3, 'relative': !isExpanded3 }" class="bg-white p-6 rounded-lg shadow-md" id="step8">
    <div class="flex justify-between items-center">
      <div>
        <h2 class="text-2xl font-bold">1680 Watts</h2>
        <p class="text-gray-500">Los watts indican cuánta energía estás usando.</p>
      </div>
      <button (click)="toggleExpand(3)" class="text-gray-500 hover:text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mt-4">
      <iframe src="http://localhost:3000/d-solo/ae09ynm4xgrggd/power?orgId=1&panelId=1&var-deviceId=08:A6:F7:24:71:98&refresh=5s"
              width="100%"
              height="300"
              frameborder="0"></iframe>
    </div>
  </div>

  <!--  Factor de Potencia -->
  <div [ngClass]="{'h-screen w-screen fixed top-0 left-0 z-50': isExpanded4, 'relative': !isExpanded4 }" class="bg-white p-6 rounded-lg shadow-md" id="step9">
    <div class="flex justify-between items-center">
      <div>
        <h2 class="text-2xl font-bold">0.90 kWh (Kilovatios-hora)</h2>
        <p class="text-gray-500"> Indicador de cantidad de electricidad que usas durante un tiempo.</p>
      </div>
      <button (click)="toggleExpand(4)" class="text-gray-500 hover:text-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="mt-4">
      <iframe src="http://localhost:3000/d-solo/fe09yozs0bl6od/energy?orgId=1&panelId=1&var-deviceId=08:A6:F7:24:71:98&refresh=5s"
              width="100%"
              height="300"
              frameborder="0"></iframe>
    </div>
  </div>
</div>
