<div class="card bg-base-100 shadow-xl p-4 transform transition-transform hover:scale-105">
  <!-- Icono y título -->
  <div class="flex items-center mb-2">
    <div class="flex items-center justify-center h-10 w-10 rounded-lg bg-gray-100">
      <i [ngClass]="iconClasses" class="text-2xl"></i>
    </div>
    <div class="ml-3">
      <div class="flex justify-start items-center space-x-2">
        <h2 class="card-title text-lg font-semibold">{{ titleCard }}</h2>
        <div *ngIf="tooltipText">
          <div class="tooltip tooltip-bottom" [attr.data-tip]="tooltipText" style="max-width: 150px;">
            <i class="fa-lg fa-solid fa-circle-info text-primary"></i>
          </div>
        </div>
      </div>
      <p class="text-xs text-gray-500">{{ subtitleCard }}</p>
    </div>

  </div>
  <!-- Información principal y progreso Actual-->
  <div class="mt-2">
    <h2 class="text-xs text-gray-500">Mes actual</h2>
    <h2 class="text-2xl font-bold">{{ dataCardProgress }} {{unit}}</h2>
    <div *ngIf="showProgress" class="flex items-center justify-between mt-1">
      <progress [ngClass]="colorProgress" value="{{ valueProgress }}" max="{{ maxProgress }}" class="progress-bar"></progress>
      <span class="text-xs ml-2" [ngClass]="percentageClass">{{ valueProgress }}%</span>
    </div>
  </div>
  <div class="divider"></div>
  <!-- Información principal y progreso Mes anterior-->
  <div class="mt-2" *ngIf="showMonthPrevious">
    <h2 class="text-xs text-gray-500">Mes anterior</h2>
    <h2 class="text-2xl font-bold">{{ dataCardProgressPrevious }} {{unit}}</h2>
  </div>
</div>
